<!DOCTYPE html>
<html>
<head>
    <title>Video Upload</title>
</head>
<body>
<h1>비디오 업로드</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="text" name="title" placeholder="Title" />
    <textarea name="description" placeholder="Description"></textarea>
    <button type="submit">Upload</button>
</form>
<h2>비디오 업로드 샘플</h2>
<ul>
    {{#videos}}
        <li>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <video width="320" height="240" controls>
                <source src="{{filePath}}" type="video/mp4" />
            </video>
        </li>
    {{/videos}}
</ul>
</body>
</html>
